.gallery .gallery-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  background: #bdc3c7;
}
.gallery .gallery-block .g_item {
  font-weight: bold;
  font-size: 5em;
  background: #d8d8d8;
  padding: 10px 20px;
  -webkit-box-flex: 0;
          flex: 0 0 20%;
  text-align: center;
  margin: 20px;
}
.gallery .gallery-block .g_item:hover {
  opacity: 0.5;
}
@media (max-width: 1030px) {
  .gallery .gallery-block .g_item {
    -webkit-box-flex: 0;
            flex: 0 0 29%;
  }
}
@media (max-width: 770px) {
  .gallery .gallery-block .g_item {
    -webkit-box-flex: 0;
            flex: 0 0 45%;
    margin: 15px;
  }
}
@media (max-width: 550px) {
  .gallery .gallery-block .g_item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    margin: 0px 0px 15px 0px;
  }
}
.gallery .gallery-head {
  font-size: 2em;
  background: #ecf0f1;
  padding: 15px;
}
