@import "_variables";

.simple-flex-row-block-with-background(@background-color: #fff){
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background: @background-color;
}

.gallery {

    .gallery-block {
    	.simple-flex-row-block-with-background(#bdc3c7);

        .g_item {
            font-weight: bold;
            font-size: 5em;
            background: @g_item-background;
            padding: 10px 20px;
            flex: 0 0 20%;
            text-align: center;
            margin: 20px;

            &:hover {
                opacity: 0.5;
            }

            @media (max-width: 1030px) {
                flex: 0 0 29%;
            }

            @media (max-width: 770px) {
                flex: 0 0 45%;
                margin: 15px;
            }

            @media (max-width: 550px) {
                flex: 0 0 100%;
                margin: 0px 0px 15px 0px;
            }
        }
    }

    .gallery-head {
        font-size: 2em;
        background: #ecf0f1;
        padding: 15px;
    }
}
